

.block-wrapper{
    background: #292E33;
    width: 100%;

    &:after{
        content: '';
        width: 100%;
        background: #1E2328;
        height: 50vh;
        position: absolute;
        bottom: 0;
    }

    .hero-text-wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    .hero-image-wrapper{
        text-align: center;

        .hero-meta-img{
            img{
                width: 571px;
                position: relative;
                z-index: 2;
            }
        }
    }
}


.img-backdrop{
    
    width: 100%;
    display: flex;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;

    &:before{
        // content:'';
        // background: url('../../../static/meta_img/ellipse.png') no-repeat;
        // position: absolute;
        // height: 50%;
        // width: 100%;
        // z-index: -1;
        // transform: translate(-28px, 25px);
    }

    img{
        position: absolute !important;
        z-index: 1 !important;
        width: 560px !important;
        transform: translate(-30px, 21px);
    }
}

.heading-hero-wrapper{

    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    transform: translateY(69px);
    z-index: 2;

    .big-title{
        font-size: 8rem;
        margin: 31px auto;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 0;

        display: flex;
        align-items: center;
        justify-content: center;


        span{
            color: #fff;
            // margin: 0 6%;
        }
    }

    .italic-element{
        font-size: 5vw;
        color: #fff;
        span{
            opacity: 0;
        }
    }

    .small-title{
        margin: 1% 0;
        span{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 18px;
            font-weight: 100;
            margin: 0px 11%;
            font-size: 2vw;
        }
    }
    .first-block, 
    .second-block{
        margin: 0 6%;
        overflow: hidden;
        span{
            position: relative;
            top: 160px;
        }
    }
}

.element-parent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.section-book-trailer,
.section-author-content,
.artwork-author-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}


.section-book-trailer,
.author-section,
.artwork-contents
{
    position: absolute;
    left:0;
    bottom:0;
    opacity: 0;
    pointer-events: none;

}

.heading-trailer{
    h1{
        font-size: 6vw;
    }
}


.author-wrapper{
    text-align: center;
    img{
        max-width: 100%; 
        width: 424px;
        position: relative;
    }

    &:before{
        content:'';
        background: url('../../../static/meta_img/rect_shaded.png') no-repeat;
        position: absolute;
        width: 45%;
        height: 581px;
        left: 0;
        opacity: 0.7; 
    }
}


.author-content{
    h1{

        font-size: 4rem;
        text-transform: uppercase;
        color: #fbfbfb3b;
        transform: translateX(-80px);

        span{
            color: #ff9d0021;
        }
    }
    span{
        display: block;
        font-size: 4rem;
    }

    p{
        font-size: 1em;
    }
}

.author-name{

    text-align: right;
    margin: 5% 0 !important;
    
    .f-name{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        color: #cd8441;
    }

    .tag-author{
        font-size: 20px;
        display: block;
        margin-top: 3em;
        letter-spacing: 10px;
        color: #797474;
    }
}

/*video-react*/
.video-react{
    width: 570px !important;
    border: 6px solid #fff;
    box-shadow: 0px 1px 44px 10px #1e1e1e;
}


.heading-artwork{
    font-size: 5rem;
    span{
        color: #fff;
        &:nth-child(1){
            margin-top: 10px; 
            display: block;
        }

        &:nth-child(2){
            text-transform: lowercase;
            display: block;
        }
    }

    p{
        text-transform: uppercase;
        letter-spacing: 9px;
        text-align: center;
        font-size: 14px;
    }

    &:before{
        content: "";
        width: 10%;
        background: #ff9d00;
        position: absolute;
        display: inline-block;
        height: 4px;
        transform: translateY(-31px);
    }
}


.counter{
    position: absolute;
    top: 0;
    display: flex;
    height: 89vh;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 99;
    right: 11%;

    .counter-active{
        font-size: 28px;
        font-weight: bold;
        color: #ffff;
        transform: translateX(-13px);
        -webkit-transform: translateY(-13px);
        -moz-transform: translateY(-13px);
    }

    .limit{
        color: #ff9d00;
        -webkit-transform: translate(8px, -25px);
        -moz-transform: translateY(-20px);
        font-weight: bold;
    }
}

.first-block{
    span{
        margin: 0;
    }
}

/*Linear Animation*/
 
.linear-animation{

    height: 0%;
    position: fixed;
    width: 100%;
    z-index: 61;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    span{
        height: 0;
        width: 100%;

        &:nth-child(1){
            animation: linear-intro-backwards 0.8s cubic-bezier(0.19,1,0.22,1) backwards;
            animation-delay: 0.5s;
            background: #2c323a;
        }

        &:nth-child(2){
            animation: linear-intro-backwards 1.5s cubic-bezier(0.19,1,0.22,1) backwards;
            animation-delay: 1s;
            background: #292f38;
        }
        &:nth-child(3){
            animation: linear-intro-backwards 2.0s cubic-bezier(0.19,1,0.22,1) backwards;
            animation-delay: 1.5s;
            background: #1d2127;
        }
    }
}


.linear-width,
.linear-width-author-sect,
.linear-width-artwork{
    background: #14181f;
    height: 100vh;
    position: absolute;
    width: 0%;
    z-index: 100;
    left: 0;
    animation: linear-move 2.5s cubic-bezier(0.19,1,0.22,1) backwards;
    animation-delay: 0.5s;
}


@keyframes  linear-intro-backwards {
    0%{
        height: 100vh;
        top:0
    }

    100%{
        height: 0;
        top:0;
    }
}

@keyframes  linear-move {
    0%{
        width: 100%;
        left:0;
    }

    100%{
        width: 0;
        left: 0;
    }
}

