@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import 'banner';
@import 'navigation';
@import 'content';
@import 'footer';
@import 'slick-customize';
@import 'media';

@font-face {
    font-family:"augusta-free"; /*a name to be used later*/
    src: url("../../../static/fonts/august_free_bold.ttf") format('truetype'); /*URL to font*/
    // font-weight: normal;
}


*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing:border-box;
}

p{
	line-height: 2;
}

body{
	font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1,h2{
    font-size: 1.6em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
h3,h4{
    font-size: 1.2em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h5,h6{
    font-size: 1.0em;
}


p,a,qoute,span,blockquote{
    font-size: 1.2em;
    color: #e6e6e6ee;
}


p{
    line-height: 1.7;
    margin: 1.2em 0 !important;
}

button{

    background-color: #1e2328;
    border: none;
    padding: 7% 35px;
    margin-top: 6%;
    color: #ffff;
    border: 1px solid #404040;

    a{
        color: #fff !important;
        text-decoration: none;
        cursor: pointer;
    }
}


.italic-element{
    font-family: "augusta-free";
}


.col-two-grid-element{
    display: grid;
    grid-template-columns: 51% 1fr;
    gap: 25px;
}

.big-heading-trailer{
    span{
        display: block;
    }
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.col-two-grid-slider-element{
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 25px;
}

.button-container{
    position: fixed;
    top: 0;
    display: flex;
    height: 89vh;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translateX(227px);
    z-index: 99;
}

.btn-prev,
.btn-next{
    margin: 0 5px;
    
    &:hover{
        cursor: pointer;
    }
}


.active-page{
    position: static !important;
    opacity: 1 !important;
    pointer-events:auto;
}

.section-parent-book-trailer{
    position: relative;
    z-index: 10;
}