/***
*   
*   Media Queries Starts here
*
***/

 
@media only screen and (max-width: 1450px) {
    .container{
        max-width: 900px !important;
        margin: 0 auto;
    }

    .video-react{
        width: 460px !important;
    }

    .slick-list{
        width: 500px;
    }
    .commentSection{
        max-width: 900px !important;
    }

    .heading-hero-wrapper{
        .small-title {
            span{
                margin: 0px 16%;
            }
        }
        .big-title{
            font-size: 6rem;
        }
    }

    .author-wrapper{
        img{
            width: 300px;
            transform: translateY(46px);
        }

        &:before{
            height: 427px;
            transform: translateY(29px);
        }
    }

    .img-backdrop{
        img{
            width: 473px !important;
            transform: translate(2px, 6px);
        }
    }
    
    .hero-meta-img{
        img{
            width: 473px !important;
        }
    }

    .button-container,
    .counter{
        height: 95vh !important;
    }

    .social-media-nav{
        ul{
            li{
                margin-bottom: 1em !important;
            }
        }
    }


    .author-content {
        h1{
            transform: translate(-80px, 57px);
            position: relative;
            z-index: -1;
        }
    }

    .author-name{
        .tag-author{
            font-size: 13px;
            margin-top: 2em;
        }
    }
}



@media only screen and (max-width: 1260px){
    .nav-list{
        li{
            a{
                // font-size: 5em;
            }
        }
    }
}