/*Slick Custom*/

.slick-slider{
    margin: 0 70px;
}

.slick-initialized .slick-slide{
    text-align: center;
    padding: 0 10px;
    h3{
        font-size: 19px;
        color: #fff;
        margin: 0.6em;
        font-weight: bold;
    }
    span{
        font-size: 12px;
        color: #929292 !important;
    }
}

.slick-slide{
    width: 280px !important;
}

.slick-active{
    text-align: center !important;

    img{
        margin: 0 auto;
    }
}

.slick-dots li button:before{
    color: #fdf5f5 !important;
}

.slick-dots li.slick-active button:before {
    color: #fdda55 !important;
    font-size: 24px;
}

.slick-prev:before, .slick-next:before{
    color: #ffffff !important;
    position: relative;
    z-index: 10 !important;
    font-size: 60px !important;
    opacity: 1 !important;
}


.slick-prev:before{
    position: relative;
    left: -31px;
}

.slick-next{
    right: -2px !important;
}

.slick-prev, .slick-next{
    margin:0 !important;
}

.slick-prev{
    left: -25px !important;
    z-index: 10 !important;
    left: 0 !important;
}

.slick-next{
    right: 15px !important;
}

.slick-track{
    display: flex !important;
    width: 556px !important;
}

.slick-list{
    width: 700px;
}


.book-wrapper-slider{
    img{
        width: 250px;
    }
} 
